ul {
  margin: 0;
  width: 100%;
  padding: 0;
  border: 1px solid #777777;
  border-top: none;
}

input {
  width: calc(100% - 20px);
  height: 40px;
  margin: 0;
  padding: 0 10px;
  border: 1px solid black;
}

li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

li:hover {
  background: #EFEFEF;
}

img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

span {
  margin: auto 0;
}
