@font-face {
  font-family: 'Nunito';
  src: url('../../assets/Nunito.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../../assets/DMSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../../assets/SFPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100%;
  height: 100px;
  background: #1087F3;
}

header div {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
}

h1 {
  text-align: center;
  color: white;
  padding: 20px 0;
  font-family: 'Dm Sans';
  margin: 10px;
  font-size: 28px;
}

#input-container {
  display: flex;
  flex-direction: column;
  margin-top: 25.9px;
}

input {
  position: relative;
  width: 500px;
  height: 25px;
  border: none;
  font-size: 14px;
  font-family: sans-serif;
  padding: 10px;
  margin: auto 10px;
  border-radius: 5px;
}

input:focus {
  border: middle 3px solid yellow;
}

#search-section {
  width: 600px;
  margin: auto;
}

ul {
  position: relative;
  z-index: 1000;
  background: white;
  font-family: 'Nunito';
  width: 520px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  border: 1px solid #AAAAAA;
  border-top: none;
  box-sizing: border-box;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.03),
              0 1px 4px rgba(0, 0, 0, 0.06);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

li:hover {
  background: #EFEFEF;
}

ul img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

span {
  margin: auto 0;
}

table td {
  width: 150px;
  font-size: 14px;
  text-align: center;
}

#crypto-selected {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Nunito';
  margin-top: 50px;
  color: white;
  width: fit-content;
  padding: 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12),
              0 1px 4px rgba(0, 0, 0, 0.24);
}

.infos-selection {
  margin: auto 0;
}

.tab-crypto {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  padding: 15px 5px;
}

#header-tab {
  background: #114695;
  margin-top: 0;
  padding: 10px 30px;
}

#header-tab td {
  text-align: center;
  font-size: 16px;
}

.display-infos {
  margin-top: 0;
  color: black;
  background: aliceBlue;
  padding-left: 30px;
  padding-right: 30px;
}

.display-infos:nth-child(odd) {
  background: white;
}

#name-display {
  display: flex;
}

#name-display span {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 16px;

}

#name-display img {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}
