
h1 {
  text-align: center;
}

#search-section {
  width: 30%;
  margin: auto;
}

ul {
  position: absolute;
  width: 450px;
  padding: 0;
  border: 1px solid #777777;
  border-top: none;
  margin-top: 0;
  box-sizing: border-box;
}

input {
  width: 450px;
  height: 40px;
  border: 1px solid black;
  padding: 5px 10px;
  box-sizing: border-box;
}

li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

li:hover {
  background: #EFEFEF;
}

img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

span {
  margin: auto 0;
}

#crypto-selected {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 10%;
  background: #114695;
  color: white;
  padding: 10px 20px;
  width: fit-content;
}

.infos-selection {
  margin: auto 20px;
}
