/* You can add global styles to this file, and also import other style files */
app-root {
  display: flex;
  flex-direction: column;
}

app-api {
  margin: auto;
}

.crypto-display {
  margin: auto;
  width: fit-content;
}
